{% for choice in field.choices if choice.value in data[field.field_name] %}
{# NOTE! This "in" is a text search, not an array search. CKAN stores the value as stringified array #}
<a href='/document?{{field.field_name}}={{choice.value}}'>{{choice.label}}</a>{% if not loop.last %} and <br>{% endif %}
{% endfor %}

{% set maxlength=2 %}
{% if data[field.field_name]|length == maxlength %}
{# For this reason we make this snippet field specific rather than coercing to JSON just to make #}
{# the snippet reusable for other potential 2-option fields #}
 (<a href='/document?{{field.field_name}}=law&{{field.field_name}}=practice'>Both</a>)
{% endif %}
