{% ckan_extends %}

{% set theme_counts = h.theme_counts() %}

{% macro category_box(text, imgsrc) %}
{% if theme_counts[text] is defined %}
  {% set theme_count = theme_counts[text] %}
{% else %}
  {% set theme_count = 0 %}
{% endif %}
<div class="col-md-2 category-box">
    <span class="pull-right" style="height: 20px; width: 30px; background-color: #FD6F51; color:white; position: absolute; left: 134px; border-radius: 3px; box-shadow: 1px 1px 5px #888888;">{{ theme_count }}</span>
    <a href="/record?category={{text}}">
        <img src="{{imgsrc}}">
        <p>{{text}}</p>
    </a>
</div>
{% endmacro %}

{% macro country_box(name, level, alttext) %}
{% if alttext %}
  {% set name=alttext %}
{% endif %}
<a href="/record?country={{name}}">
    <div class="col-md-2 country-box country-box-{{level}}">
        <span>{{name}}</span>
    </div>
</a>
{% endmacro %}

{% block content %}
<div class="homepage layout-nrgi">
    <div class="container">{{self.flash()}}</div>

    <div id="front-page-hero" class="hero-unit" style="margin-bottom: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="row text-center">
                        <div id="header-wrapper">
                            <h1>{{g.site_title}}</h1>
                        </div>
                        <p>Helping people to realize the benefits of their countries' endowments of oil, gas and
                            minerals.</p>
                        <div class="text-center col-md-6 col-md-offset-3">
                            <form action="record" method="get">
                            <div class="input-group" id="f">
                                    <input name="q" placeholder="Search for datasets and documents..." id="front-page-search-input" class="form-control" type="search">
                                    <span class="input-group-btn"><button id="front-page-search-input-icon" type="submit" class="btn btn-search">SEARCH</button>
                                    </span>
                                </div>
                            </form>
                            <br>
                        </div>
                        <!-- <a href="/dataset" class="btn btn-primary">Explore Datasets</a> -->
                    </div>
                </div>
            </div>

            <div class="row hidden-phone">
                <div class="col-md-4 col-md-offset-7 ">
                    <div class="col-md-1 count-box">
                        <h5>{{h.country_count()}}</h5>
                        <small>Countries</small>
                    </div>
                    <div class="col-md-1 count-box">
                        <h5>{{h.dataset_count()}}</h5>
                        <small><a href="/dataset/">Datasets</a></small>
                    </div>
                    <div class="col-md-1 count-box">
                        <h5>{{h.document_count()}}</h5>
                        <small><a href="/document/">Documents</a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container hidden-phone">
        <section id="categories">
            <div class="row">
                {{ category_box('Precept 1: Strategy, Consultation and Institutions', '/imgcat/strategy.png') }}
                {{ category_box('Precept 2: Accountability and Transparency', '/imgcat/accountability.png') }}
                {{ category_box('Precept 3: Exploration and License Allocation', '/imgcat/exploration.png') }}
                {{ category_box('Precept 4: Taxation', '/imgcat/tax.png') }}
                {{ category_box('Precept 5: Local Effects', '/imgcat/effects.png') }}
                {{ category_box('Precept 6: Nationally Owned Resource Companies', '/imgcat/nationalcompanies.png') }}
            </div>
            <div class="row">
                {{ category_box('Precept 7: Revenue Distribution', '/imgcat/revenuedist.png') }}
                {{ category_box('Precept 8: Revenue Volatility', '/imgcat/revenuevol.png') }}
                {{ category_box('Precept 9: Government Spending', '/imgcat/spending.png') }}
                {{ category_box('Precept 10: Private Sector Development', '/imgcat/privatesector.png') }}
                {{ category_box('Precept 11: Roles of Multinational Companies', '/imgcat/mnc.png') }}
                {{ category_box('Precept 12: Role of International Community', '/imgcat/intlcom.png') }}
            </div>
        </section>
    </div>

    <div class="container hidden-phone">
        <section id="countries">
            <div class="row">
                <div class="col-md-12">
                    <h3>Countries</h3>
                    <hr>
                </div>
            </div>
            <div class="row country-boxes">
                <div class="row"><h3>NRGI Priority Countries</h3></div>
                <div class="row">
                    {{country_box("Colombia", level=1)}}
                    {{country_box("Congo, the Democratic Republic of the", level=1, alttext="Congo (DRC)")}}
                    {{country_box("Ghana", level=1)}}
                    {{country_box("Guinea", level=1)}}
                    {{country_box("Indonesia", level=1)}}
                    {{country_box("Mexico", level=1)}}
                    {{country_box("Mongolia", level=1)}}
                    {{country_box("Myanmar", level=1)}}
                    {{country_box("Nigeria", level=1)}}
                    {{country_box("Tanzania", level=1)}}
                    {{country_box("Tunisia", level=1)}}

                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#otherlevels"
                        style="margin-left: 3em;">See All
                </button>
                </div>
                <hr/>


                <div id="otherlevels" class="collapse out">
                    <div class="row"><h3>NRGI Limited Engagement Countries</h3></div>
                    <div class="row">
                    {{country_box("Azerbaijan", level=2)}}
                    {{country_box("Bolivia", level=2)}}
                    {{country_box("Kyrgyzstan", level=2)}}
                    {{country_box("Libya", level=2)}}
                    {{country_box("Peru", level=2)}}
                    {{country_box("Philippines", level=2)}}
                    {{country_box("Uganda", level=2)}}
                    {{country_box("Ukraine", level=2)}}
                    {{country_box("Zambia", level=2)}}
                    </div>
                    <hr />
                    <div class="row"><h3>All other countries</h3></div>
                    <div class="row">
                    {{country_box("Afghanistan", level=3)}}
                    {{country_box("Algeria", level=3)}}
                    {{country_box("Angola", level=3)}}
                    {{country_box("Australia", level=3)}}
                    {{country_box("Bahrain", level=3)}}
                    {{country_box("Bangladesh", level=3)}}
                    {{country_box("Botswana", level=3)}}
                    {{country_box("Brazil", level=3)}}
                    {{country_box("Burkina Faso", level=3)}}
                    {{country_box("Cambodia", level=3)}}
                    {{country_box("Cameroon", level=3)}}
                    {{country_box("Canada", level=3)}}
                    {{country_box("Chile", level=3)}}
                    {{country_box("China", level=3)}}
                    {{country_box("Côte d'Ivoire", level=3)}}
                    {{country_box("Ecuador", level=3)}}
                    {{country_box("Egypt", level=3)}}
                    {{country_box("Equatorial Guinea", level=3)}}
                    {{country_box("Gabon", level=3)}}
                    {{country_box("India", level=3)}}
                    {{country_box("Iran", level=3)}}
                    {{country_box("Iraq", level=3)}}
                    {{country_box("Kazakhstan", level=3)}}
                    {{country_box("Kuwait", level=3)}}
                    {{country_box("Laos", level=3)}}
                    {{country_box("Liberia", level=3)}}
                    {{country_box("Madagascar", level=3)}}
                    {{country_box("Malaysia", level=3)}}
                    {{country_box("Morocco", level=3)}}
                    {{country_box("Mozambique", level=3)}}
                    {{country_box("Niger", level=3)}}
                    {{country_box("Norway", level=3)}}
                    {{country_box("Oman", level=3)}}
                    {{country_box("Papua New Guinea", level=3)}}
                    {{country_box("Qatar", level=3)}}
                    {{country_box("Russia", level=3)}}
                    {{country_box("Saudi Arabia", level=3)}}
                    {{country_box("Sierra Leone", level=3)}}
                    {{country_box("South Africa", level=3)}}
                    {{country_box("South Sudan", level=3)}}
                    {{country_box("Sudan", level=3)}}
                    {{country_box("Sudan", level=3)}}
                    {{country_box("Timor-Leste", level=3)}}
                    {{country_box("Trinidad and Tobago", level=3)}}
                    {{country_box("Turkmenistan", level=3)}}
                    {{country_box("United Arab Emirates", level=3)}}
                    {{country_box("United Kingdom", level=3)}}
                    {{country_box("United States", level=3)}}
                    {{country_box("Uzbekistan", level=3)}}
                    {{country_box("Venezuela", level=3)}}
                    {{country_box("Vietnam", level=3)}}
                    {{country_box("Yemen", level=3)}}
                    {{country_box("Zimbabwe", level=3)}}
                </div>  
              </div>
            </div>
        </section>
    </div>

    <div class="container">
        <section id="community">
            <div class="row hidden-phone">
                <div class="col-md-12">
                    <h3>Learn more</h3>
                    <hr>
                </div>
            </div>
            <div class="row" style="margin-bottom: 14px;">
                    <div class="col-md-8" id="community-today">
                        <div class="community-box">
                            <h3>2017 Resource Governance Index Source Library</h3>
                            <p>
                            The library contains almost 10,000 source documents which Resource Governance Index researchers used to verify their answers to 149 survey questions across 89 country-sector assessments. Users can search the documents by question, assessment type, country and subcomponent.
                            </p>
                            <br>
                            <a class="btn btn-primary" href="/organization/rgi">More info</a>
                        </div>
                    </div>
                    <div class="col-md-4" id="community-twitter">
                        <a class="twitter-timeline" data-height="280" data-dnt="true"
                           href="https://twitter.com/NRGInstitute">Tweets by NRGInstitute</a>
                        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3" id="community-club">
                        <div class="community-box">
                            <h3>
                                <img src="/imgcom/eiti.png">
                                <span class="pull-right">EITI<br>Datasets</span>
                            </h3>
                            <br>
                            <p>Data pertaining to the global standard for the good governance of oil, gas and mineral resources</p>
                            <br><a class="btn btn-primary inverted" href="/organization/eiti">More info</a>
                        </div>
                    </div>
                    <div class="col-md-9" id="community-rgi">
                        <div class="community-box">
                            <h3>Analysis</h3>
                            <p>Discover updates and visualizations about the portal's data.</p>
                            <br>
                            <a class="btn btn-primary" href="/analysis/home">More info</a>
                        </div>
                    </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
