@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
body {
  font-family: "Open Sans";
  color: #000000;
}
h1,
h2,
h3,
h4,
h5,
h6,
p[class=lead] {
  font-family: "Open Sans";
  font-weight: 300;
}
.homepage {
  background-color: #ffffff;
}
.hero-unit {
  margin-bottom: 0px;
}
#front-page-hero {
  background-image: url(/hero.jpg);
  background-size: cover;
  color: #ffffff;
  padding-bottom: 0px;
  border-radius: initial;
}
#front-page-hero h1,
#front-page-hero h2,
#front-page-hero h3,
#front-page-hero h4,
#front-page-hero h5 {
  font-weight: 200;
}
#front-page-hero h1 {
  margin-bottom: 10px;
}
#front-page-hero #front-page-search-input {
  padding: 14px 14px 14px 14px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #5b5d62;
  margin-bottom: 30px;
}
#front-page-hero .btn.btn-primary,
#front-page-hero #front-page-search-input-icon {
  padding: 14px 24px 14px 24px;
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 2px;
  background-color: #fd6f51;
  border-color: rgba(255, 255, 255, 0.85);
  border-width: 1px;
  color: rgba(255, 255, 255, 0.85);
}
.count-box {
  background-color: rgba(255, 255, 255, 0.85);
  width: 80px;
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.count-box h1,
.count-box h2,
.count-box h3,
.count-box h4,
.count-box h5 {
  color: #537386;
  font-size: 1.6em;
  margin-bottom: 4px;
}
.count-box small {
  color: #fd6f51;
  font-size: 0.7em;
  float: right;
  padding-right: 4px;
}
#frontpage-sections {
  background-color: #ffffff;
}
.btn.btn-primary {
  border-radius: 36px;
  background-color: #fd6f51;
  color: #ffffff;
  text-transform: uppercase;
  padding: 8px 24px 8px 24px;
}
.btn.btn-primary.inverted {
  background-color: transparent;
  color: #fd6f51;
  border: 3px #fd6f51 solid;
}
section#categories {
  margin-top: 2em;
}
section#categories .category-box {
  text-align: center;
}
section#viz {
  margin-bottom: 2em;
}
section#viz .viz-box {
  border: 1px #e2e2e2 solid;
  margin: 8px;
}
section#viz .viz-box h5 {
  padding-left: 2em;
  text-transform: uppercase;
}
section#community {
  margin-bottom: 2em;
}
section#community .btn.btn-primary {
  background-color: #ffffff;
  color: #fd6f51;
}
section#community .btn.btn-primary.inverted {
  background-color: transparent;
  color: #ffffff;
  border: 3px #ffffff solid;
}
section#community #community-today {
  background-image: url('/imgcom/today.jpg');
}
section#community #community-rgi {
  background-image: url('/imgcom/rgi.jpg');
}
section#community #community-club {
  background-color: #fd6f51;
}
section#community #community-club img {
  width: 50%;
}
section#community .community-box {
  height: 240px;
  padding: 20px 20px 20px 20px;
  font-size: 1em;
  color: #ffffff;
}
section#community .community-box h1,
section#community .community-box h2,
section#community .community-box h3,
section#community .community-box h4,
section#community .community-box h5 {
  text-transform: uppercase;
}
.account-masthead {
  background-color: #ffffff;
  background-image: none;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li {
  border: none;
}
.account-masthead .account ul li a {
  color: #232323;
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(215, 215, 215, 0.7);
  background-color: black;
}
.masthead {
  background-color: #ffffff;
  padding-bottom: 20px;
  background-image: none;
  height: 50px;
}
.masthead .navigation .nav-pills li a {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #5b5d62;
  padding-top: 20px;
  background-color: #ffffff;
}
.masthead .navigation .nav-pills li a:hover {
  color: #4a7493;
  background-color: #ffffff;
}
.masthead .navigation .nav-pills li.active a {
  color: #3f759e;
  background-color: #ffffff;
}
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  box-shadow: none;
  text-decoration: underline;
}
.breadcrumb {
  font-family: "Open Sans";
}
.breadcrumb li {
  text-shadow: none;
}
.site-footer {
  font-family: "Open Sans";
  background-color: #5b5d62;
  background-image: none;
  color: #ffffff;
}
.site-footer a {
  color: rgba(255, 255, 255, 0.8);
}
.site-footer label {
  color: rgba(255, 255, 255, 0.8);
}
.site-footer p {
  color: #ffffff;
}
.site-footer small {
  color: #ffffff;
}
body {
  background-color: #557288;
}
.btn {
  font-weight: 200;
}
.btn-primary {
  background-color: #557288;
  background-image: none;
  border: #557288;
}
.btn-primary:hover {
  background-image: none;
  background-color: #476072;
}
div[role=main] {
  background: none;
  background-color: white;
}
.toolbar {
  background-color: #557288;
  border-radius: 4px;
  padding: 4px;
  color: #ffffff;
}
.toolbar .breadcrumb a {
  color: #ffffff;
}
.wrapper {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.site-footer input[type="text"] {
  border-color: #ffffff;
}
