@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
#dataset-search-form div label {
  display: none;
}
body {
  font-family: "Open Sans";
  color: #000;
  background-color: #5B5D62;
}
h1,
h2,
h3,
h4,
h5,
h6,
p[class=lead] {
  font-family: "Open Sans";
  font-weight: 300;
}
.header-image {
  padding-bottom: 16px;
}
.homepage {
  background-color: #FCFCFC;
}
.hero-unit {
  margin-bottom: 0px;
  font-size: 18px;
}
#front-page-hero {
  background-image: url(/hero.jpg);
  background-size: cover;
  color: #FCFCFC;
  padding-bottom: 0px;
  border-radius: initial;
}
#front-page-hero h1,
#front-page-hero h2,
#front-page-hero h3,
#front-page-hero h4,
#front-page-hero h5 {
  font-weight: 200;
}
#front-page-hero h1 {
  margin-bottom: 10px;
  font-size: 60px;
}
#front-page-hero #front-page-search-input {
  background-color: rgba(255, 255, 255, 0.85);
  color: #5B5D62;
}
#front-page-hero .btn.btn-primary,
#front-page-hero #front-page-search-input-icon {
  font-family: "Open Sans";
  font-weight: 300;
  letter-spacing: 2px;
  background-color: #FD6F51;
  border-color: rgba(255, 255, 255, 0.85);
  border-width: 1px;
  color: rgba(255, 255, 255, 0.85);
}
.count-box {
  background-color: rgba(255, 255, 255, 0.85);
  width: 100px;
  margin-left: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 10px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.count-box h1,
.count-box h2,
.count-box h3,
.count-box h4,
.count-box h5 {
  color: #537386;
  font-size: 1.6em;
  margin-bottom: 4px;
}
.count-box small {
  color: #FD6F51;
  font-size: 0.7em;
  float: right;
  padding-right: 4px;
}
#frontpage-sections {
  background-color: #FCFCFC;
}
.btn.btn-primary {
  border-radius: 36px;
  background-color: #FD6F51;
  color: #FCFCFC;
  text-transform: uppercase;
  padding: 8px 24px 8px 24px;
}
.btn.btn-primary.inverted {
  background-color: transparent;
  color: #FD6F51;
  border: 3px #FD6F51 solid;
}
section#categories {
  margin-top: 2em;
}
section#categories .category-box {
  text-align: center;
}
section#countries {
  margin-top: 2em;
}
section#countries .country-boxes {
  margin-left: 16px;
}
section#countries .country-boxes .country-box {
  text-align: center;
  border: 1px #e2e2e2 solid;
  padding: 8px;
  margin-bottom: 12px;
}
section#countries .country-boxes .country-box.country-box-1 {
  box-shadow: #e2ffe2 1px 1px 2px 1px;
}
section#countries .country-boxes .country-box.country-box-2 {
  box-shadow: #e2dde2 1px 1px 2px 1px;
}
section#countries .country-boxes .country-box.country-box-3 {
  box-shadow: #e2e2e2 1px 1px 2px 1px;
}
section#viz {
  margin-bottom: 2em;
}
section#viz .viz-box {
  border: 1px #e2e2e2 solid;
  margin: 8px;
}
section#viz .viz-box h5 {
  padding-left: 2em;
  text-transform: uppercase;
}
section#community {
  margin-bottom: 2em;
}
section#community .btn.btn-primary {
  background-color: #FCFCFC;
  color: #FD6F51;
}
section#community .btn.btn-primary.inverted {
  background-color: transparent;
  color: #FCFCFC;
  border: 3px #FCFCFC solid;
}
section#community #community-today {
  padding-left: 0px;
  min-height: 280px;
  background-size: cover;
  background-image: url('/imgcom/today.jpg');
}
section#community #community-rgi {
  padding-left: 0px;
  min-height: 280px;
  background-size: cover;
  background-image: url('/imgcom/rgi.jpg');
}
section#community #community-club {
  padding-left: 0px;
  min-height: 280px;
  background-color: #557288;
}
section#community #community-club img {
  width: 50%;
}
section#community .community-box {
  padding: 20px 20px 20px 20px;
  font-size: 1em;
  color: #FCFCFC;
}
section#community .community-box h1,
section#community .community-box h2,
section#community .community-box h3,
section#community .community-box h4,
section#community .community-box h5 {
  text-transform: uppercase;
}
.account-masthead {
  background-color: #FCFCFC;
  background-image: none;
}
/* The "bubble" containing the number of new notifications. */
.account-masthead .account .notifications a span {
  background-color: black;
}
/* The text and icons in the user account info. */
.account-masthead .account ul li {
  border: none;
}
.account-masthead .account ul li a {
  color: #232323;
}
/* The user account info text and icons, when the user's pointer is hovering
   over them. */
.account-masthead .account ul li a:hover {
  color: rgba(215, 215, 215, 0.7);
  background-color: black;
}
.masthead {
  background-color: #FCFCFC;
  padding-bottom: 100px;
  padding-top: 30px;
  background-image: none;
  height: 50px;
}
.masthead .navigation .nav-pills li a {
  text-transform: uppercase;
  font-size: 0.9em;
  color: #5B5D62;
  padding-top: 20px;
  background-color: #FCFCFC;
}
.masthead .navigation .nav-pills li a:hover {
  color: #4a7493;
  background-color: #FCFCFC;
}
.masthead .navigation .nav-pills li a.active {
  color: #3f759e;
  background-color: #FCFCFC;
}
.masthead input[type="text"]:focus {
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 0.7);
}
.navbar .nav > li > a.active,
.navbar .nav > li > a.active:hover,
.navbar .nav > li > a.active:focus {
  box-shadow: none;
  text-decoration: underline;
}
.breadcrumb {
  font-family: "Open Sans";
}
.breadcrumb li {
  text-shadow: none;
}
.site-footer {
  font-family: "Open Sans";
  background-color: #5B5D62;
  background-image: none;
  color: #FCFCFC;
}
.site-footer a {
  color: rgba(252, 252, 252, 0.8);
}
.site-footer a.btn {
  color: rgba(0, 0, 0, 0.8);
}
.site-footer label {
  color: rgba(252, 252, 252, 0.8);
}
.site-footer p {
  color: #FCFCFC;
}
.site-footer small {
  color: #FCFCFC;
}
.btn {
  font-weight: 200;
}
.btn-primary {
  background-color: #557288;
  background-image: none;
  border: #557288;
}
.btn-primary:hover {
  background-image: none;
  background-color: #476072;
}
div[role=main] {
  background: none;
  background-color: white;
}
.toolbar {
  background-color: #557288;
  border-radius: 4px;
  padding: 4px;
  color: #FCFCFC;
}
.toolbar .breadcrumb a {
  color: #FCFCFC;
}
.wrapper {
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.site-footer input[type="text"] {
  border-color: #FCFCFC;
}
.media-grid {
  border: none;
  background-image: none;
}
.search-form .search-input-group .input-group-btn .btn {
  margin-top: 0px;
}
#organization-search-form div label {
  display: none;
}
.resource-search-item {
  border: #e2e2e2 solid 1px;
  border-left: none;
  margin-bottom: 1em;
}
.resource-search-item .heading {
  font-size: 1.2em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.resource-search-item .resource-extras {
  width: 460px;
  background-color: #e2e2e2;
}
.resource-search-item .format-label {
  top: 4px;
}
.resource-search-item .btn-group {
  top: 2px;
}
.resource-search-item .btn-group .btn {
  border-radius: 0;
}
.resource-search-item .btn-group .btn:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}
.resource-search-item .btn-group .btn + .btn {
  border-top-right-radius: 36px;
  border-bottom-right-radius: 36px;
}
.resource-search-item .btn-group .btn.inverted {
  background-color: #FCFCFC;
  padding-top: 5px;
  padding-bottom: 5px;
}
