{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active"><a href="/{{ dataset_type }}">{{ dataset_type | capitalize }}</a></li>
{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {% if facet == 'question' %}
        {{ h.snippet('snippets/alt_facet_list.html', title=c.facet_titles[facet], items=h.get_facet_items_dict_questions(facet), name=facet, hide_empty=True, alternative_url=dataset_type) }}
      {% else %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, hide_empty=True, alternative_url=dataset_type) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}

{# This is all just to pass in "document" instead of "dataset" #}
{% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Last Modified'), 'metadata_modified desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
{% snippet 'snippets/search_form.html', form_id='dataset-search-form', type=dataset_type, query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search') + ' ' + dataset_type + 's' + '...', facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
{% endblock %}

