{% ckan_extends %}

{% block subtitle %}{% if dataset_type == 'document' %}{{ _("Documents") }}{% else %}{{ super() }}{% endif %}{% endblock %}

{% block secondary_content %}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
      {% if facet == 'question' %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], items=h.get_facet_items_dict_questions(facet), name=facet, hide_empty=True, alternative_url=dataset_type) }}
      {% elif facet == 'category' %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], items=h.get_facet_items_dict_categories(facet), name=facet, hide_empty=True, alternative_url=dataset_type) }}
      {% else %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, hide_empty=True, alternative_url=dataset_type) }}
      {% endif %}
    {% endfor %}
  </div>
  <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
