{% ckan_extends %}

{% block package_notes %}
  {% if pkg.organization.name == 'rgi' %}
    <div class='notes'>
      This document is part of the source library for NRGI&apos;s {{ h.nrgi_rgi_year(pkg) }},
      a comprehensive measure of the quality of
      natural resource governance in oil, gas and mineral-rich
      countries. To access the full dataset and all other index resources,
      visit <a href="https://resourcegovernanceindex.org">https://resourcegovernanceindex.org</a>.
    </div>
  {% else %}
    {{ super() }}
  {% endif %}
{% endblock %}
  
