{% ckan_extends %}

{% set site_logo = "./nrgi-logo.png" %}

{% block header_logo %}
    <a class="logo" href="{{ h.url_for('home') }}"><img src="{{ h.url_for_static_or_external(site_logo) }}" alt="{{ g.site_title }}" title="{{ g.site_title }}" /></a>
{% endblock %}

{% block header_site_navigation_tabs %}
    {{ h.extended_build_nav(
        ('/dataset', _('Datasets')),
        ('/document?_question_limit=0', _('Documents')),
        ('/organization', _('Organizations')),
        ('/analysis/analysis-landing-page', _('Analysis')),
        ('/about', _('About')),
    ) }}
{% endblock %}

{% block header_site_search %}
{% endblock %}
